body {
  background-color: rgba(205,111,92,0.55);
  font-family: 'Barlow', sans-serif;
  margin: 28px;

}
div {
  min-height: 100vh;
  min-width: 100vw;
}
h1{
  text-align: center;
  font-size: 3.5em;
}
P{
  width: 40%;
  margin: 10vh 44vw;
  font-size: 1.5em;
}
div.contrast {
background-color: rgb(0,0,0);
color: rgb(255,255,255);
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

ul{
  list-style: none;
  padding: 0;
  margin-bottom: 10%;
  font-size: 1.6em;
  display: flex;
  justify-content: space-evenly;

}
